body {
	background:#CCC;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	color:#333;
	margin:0;
}
h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:22px;
	text-align:center;
}

#mess {
	display:none;
}

#header {
	height:20px;
	padding:10px;
	border-bottom:#999 1px solid;
	font-family:Georgia, "Times New Roman", Times, serif;
	background:#aaa;	
}
#login_box {
	width:40%;
	margin:10px auto;
	-moz-border-radius:10px;
	border:1px #aaa solid;
	background:#ddd;
	padding:10px;
	text-align:center;	
}
#container {
	width:90%;
	margin:10px auto;
	-moz-border-radius:10px;
	border:1px #aaa solid;
	background:#ddd;
	padding:20px;
	border-spacing:10px;
}
.menu {
	width:130px;
	border-right:1px #999 dotted;
	margin-right:0px;
	height:500px;
}
.menu li {
	list-style:none;
	text-align:center;
	padding:5px 20px;
	font-weight:bold;
	margin:30px 0;
}
.menu li a, .menu li a:visited {
	color:#000;
	text-decoration:none;
}

.menu li a:hover, .menu li.current a {
	color:#900;
}
.clear {
	clear:both;	
}
.left {
	float:left;	
}
.right {
	float:right;
	font-size:12px;
}
.center {
	text-align:center;
}
textarea {
	font-size:14px;	
}


input {
	border:1px solid #bbb;
	width:510px;
	height:20px;
	padding:5px;
	margin-left:-1px;
	margin-bottom:5px;	
}

input.login {
	width:250px;	
}

input.submit {
	-moz-border-radius:20px;
	width:100px;
	height:25px;
	background:#eee;
	margin-top:20px;		
}
input.radio {
	width:auto;
	height:auto;
	padding:0;	
}

input.new_tags {
	width:210px;
	height:20px;
	padding:5px;	
}

select {
	border:1px solid #bbb;
	width:302px;
	height:30px;
	padding:5px;
	margin-left:-1px;	
}
.editor_container {
	-moz-border-radius: 5px;
	border:1px solid #bbb;
	width:520px;
	background:#ddd;
	margin:5px;
}
.desc {
	width:520px;	
}
form.login ul {
	list-style:none;
	width:475px;
	margin-top:20px;
	padding-left:20px;	
}

form.edit ul.tagscheck {
	width:250px;
	margin-left:30px;
	height:660px;
	overflow-y:auto;
}

form.edit ul.tagscheck li.tags {
	margin:0px;	
	padding:0px;
}

form.edit ul {
	list-style:none;
	width:550px;
	margin:10px auto;
	padding-left:20px;	
}

form ul {
	list-style:none;	
}

form ul li {
	padding:10px 0;
}

form ul li span {
	margin-bottom:5px;
	font-size:12px;	
}

form ul li label {
	display:block;
	float:left;	
	width:150px;
	padding:5px 20px 0 0;
}
#left-side, #content {
	display:table-cell;
}
#left-side {
	width:10%;	
}
#content {
	width:90%;
	padding:20px;	
}
ul.traffic li {
	width:200px;
	list-style:none;
	padding:5px;
	float:left;	
}
.story_row {
	list-style:none;
	margin:0;
	border:1px solid #bbb;
	border-top:0;	
	padding:0;
}
.story_head {
	border:none;
	border-bottom:1px solid #bbb;
	font-weight:bold;
	background:none;
}
.normal {
	background:#c9c9c9;
	padding-left:10px;
	border:none	
}
.alternate {
	background:#d9d9d9;
	padding-left:10px;
	border:none
}
.story_list {
	float:left;
	padding:10px;
	text-align:left;
	width:22.5%;
}
.user_list {
	float:left;
	padding:10px;
	text-align:left;
	width:29%;
}
.user_id {
	width:3%;	
}
.user_stories {
	width:8%;	
}
.user_avatar {
	width:8%;	
}
.tag_name {
	float:left;
	padding:10px;
	text-align:left;
	width:30%;
}
.tag_desc {
	float:left;
	padding:10px;
	text-align:left;
	width:60%;	
}
.bold {
	font-weight:bold;	
}
.edit_options {
	font-size:11px;
}
.tags {
	font-size:12px;	
}

.small {
	font-size:12px;	
}